@use "sass:color";

$primary-color: #294869;
$background-light: #ffffff;
$background-dark: #333;
$text-light: #000;
$text-dark: #fff;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 65%;
  padding: 2rem;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  background-color: $background-light;
  color: $text-light;
  transition:
    background 0.3s,
    color 0.3s;
}

header {
  @include flex-center;
  justify-content: space-between;
  background-color: $primary-color;
  padding: 0 1rem;
  color: $text-dark;
  border-radius: 5px;

  button {
    border-radius: 5px;
    background: none;
    border: 1px solid $text-dark;
    color: $text-dark;
    padding: 0.5rem;
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    background: color.adjust($primary-color, $lightness: 30%);
    margin-bottom: 0.5rem;
    border-radius: 5px;
  }
}

footer {
  @include flex-center;
  background-color: $primary-color;
  color: $text-dark;
  padding: 1rem;
  border-radius: 5px;
}

.dark-theme {
  background-color: $background-dark;
  color: $text-dark;

  header,
  footer {
    background-color: color.adjust($primary-color, $lightness: -20%);
  }
}
